APP_NAME=myapp
DATABASE_URL=postgres:///myapp-development
DEPLOYMENT=development
APP_ENV=development
TZ=UTC
RAISE_ERRORS=true
FORCE_SSL=false
TIMEOUT=false
PRETTY_JSON=true
HEROKU_USERNAME=addon-test
HEROKU_PASSWORD=123456
OAUTH_CLIENT_SECRET=abcd
ATTR_VAULT_KEYRING="{\"1\": \"$(dd if=/dev/urandom bs=32 count=1 2>/dev/null | openssl base64)\"}"
VERSIONING_APP_NAME=heroku-addons
VERSIONING_DEFAULT=1
